name: task_app
description: A task app (modified)
publish_to: 'none'

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  get: ^4.6.5
  flutter_screenutil: ^5.6.1
  google_fonts: ^4.0.3
  phosphor_flutter: ^2.1.0

flutter:
  uses-material-design: true

  assets:
    - assets/
